---
# Main scss file
---
@charset "utf-8";

@import "syntax";
@import "variables";
@import "octicons";


$icon-width: 10rem;
.header {
  background-color: $green;

  h1 {
    padding: 2rem;
  }

  &.landing {
    padding: 12rem 0 20rem 0;

    div.icons {
      & span.mega-octicon {
        width: $icon-width;
        font-size: $icon-width * 0.7;
        color: $white;
      }
    }
  }

  a,
  a:visited {
    color: $white;
  }
}

.footer {
  color: lighten($textcolor, 60%);
  a,
  a:visited {
    color: lighten($textcolor, 45%);
  }
}

.container {
  padding-top: 2rem;
  max-width: 70rem;
}

.centered {
  text-align: center;
}

html {
  color: $textcolor;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darken($orange, 10%);
  font-weight: normal;
}

a {
  color: $salmon;
}

a:visited {
  color: darken($salmon, 10%);
}
