---
# Main scss file
---
@charset "utf-8";

@import "syntax";
@import "variables";

.header {
  background-color: $green;
  padding-bottom: 1rem;

  a,
  a:visited {
    color: white;
  }
}

.footer {
  color: lighten($textcolor, 60%);
  a,
  a:visited {
    color: lighten($textcolor, 45%);
  }
}

.container {
  padding-top: 2rem;
  max-width: 70rem;
}

.centered {
  text-align: center;
}

html {
  color: $textcolor;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darken($orange, 10%);
  font-weight: normal;
}

a {
  color: $salmon;
}

a:visited {
  color: darken($salmon, 10%);
}
